<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center">

  <!-- Login card -->
  <%= form_for @password_request, url: password_reset_path, :method => :post, html: {class: "login-form"} do |f| %>
    <div class="card mb-0">
      <div class="card-body">
        <div class="text-center mb-3">
          <%= image_tag('logo_transparent.png', width: "100", alt: "Enterprise Galaxy") %>
          <h5 class="mb-0">Reset Your password</h5>
          <span class="d-block text-muted">Your credentials</span>
        </div>

        <%= render 'general/error_messages', object: f.object %>

        <%= f.hidden_field :token, :value => @password_request.token %>

        <div class="form-group form-group-feedback form-group-feedback-left">
          <%= f.password_field :password, class: "form-control", placeholder: "New Password", :required => true %>
          <div class="form-control-feedback">
            <i class="icon-lock2 text-muted"></i>
          </div>
        </div>

        <div class="form-group form-group-feedback form-group-feedback-left">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password", :required => true %>
          <div class="form-control-feedback">
            <i class="icon-lock2 text-muted"></i>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Change Password", class: "btn btn-primary btn-block" %>
        </div>

      </div>
    </div>
  <% end %>
</div>
<!-- /content area -->